# Dasar - dasar pemrograman

## Aritmatika

In [1]:
1 + 2

[1] 3

In [2]:
5 - 3

[1] 2

In [3]:
5.25 + 3.95

[1] 9.2

In [4]:
3 * 2

[1] 6

In [5]:
15 / 2

[1] 7.5

In [6]:
2 ^ 3

[1] 8

In [7]:
# operator modulus

15/2

[1] 7.5

In [8]:
15 %% 2

[1] 1

In [9]:
# urutan operasi
15 * 20 + 50 / 2

[1] 325

In [10]:
15 * 20 + (50 / 2)

[1] 325

In [11]:
15 * (20 + 50) / 2

[1] 525

## Variabel

In [12]:
# komentar
v <- 10

In [13]:
print(v)

[1] 10

In [14]:
v

[1] 10

In [15]:
uang <- 100000
uang

[1] 1e+05

In [16]:
tiket.bioskop <- 2e5 # paling sering digunakan di komunitas R
tiket.bioskop

[1] 2e+05

In [17]:
tiketBioskop <- 2.05e5
tiketBioskop

[1] 205000

In [18]:
tiket_bioskop <-2.1e5
tiket_bioskop

[1] 210000

In [19]:
popcorn <- 5e4
popcorn

[1] 50000

In [20]:
tiket.bioskop <- tiket.bioskop + popcorn + 2e4
print(tiket.bioskop)

[1] 270000

## Tipe - tipe data

### Numerik

In [21]:
b <- 2
b

[1] 2

In [22]:
d <- 3.5
d

[1] 3.5

In [23]:
class(d)

[1] "numeric"

In [24]:
class(b)

[1] "numeric"

Integer dan float di R dianggap sebagai tipe data numerik

### Logical

In [25]:
TRUE

[1] TRUE

In [26]:
FALSE

[1] FALSE

In [27]:
T

[1] TRUE

In [28]:
F

[1] FALSE

In [29]:
a <- TRUE
a

[1] TRUE

In [30]:
class(a)

[1] "logical"

### Character

In [31]:
"Halo"

[1] "Halo"

In [32]:
'Halo'

[1] "Halo"

In [33]:
txt <- "Hello world!"
print(txt)

[1] "Hello world!"

In [34]:
class(txt)

[1] "character"

## Vektor

In [35]:
num <- c(1,2,3,4,5)

In [36]:
class(num)

[1] "numeric"

In [37]:
txt <- c('a', 'b', 'c')
txt

[1] "a" "b" "c"

In [38]:
class(txt)

[1] "character"

In [39]:
l <- c(T,F)
l

[1]  TRUE FALSE

In [40]:
class(l)

[1] "logical"

In [41]:
v1 <- c(TRUE, 10, 20)
v1

[1]  1 10 20

In [42]:
class(v1) # logical dikonversi menjadi numeric

[1] "numeric"

In [43]:
v2 <- c('a', 'b', 20)
v2

[1] "a"  "b"  "20"

In [44]:
class(v2) # numeric dikonversi menjadi character

[1] "character"

In [45]:
v3 <- c(TRUE, 128, 'Meteorologi')
v3

[1] "TRUE"        "128"         "Meteorologi"

In [46]:
class(v3) # logical & numeric dikonversi menjadi character

[1] "character"

In [47]:
# names : metode penamaaan vektor (metode 1) 
hari <- c(1,2,3,4,5,6,7)
hari

[1] 1 2 3 4 5 6 7

In [48]:
names(hari) <- c('sen', 'sel', 'rab', 'kam', 'jum', 'sab', 'min')

In [49]:
hari

sen sel rab kam jum sab min
  1   2   3   4   5   6   7

In [50]:
# names : metode penamaaan vektor (metode 2)
b <-  c('sen', 'sel', 'rab', 'kam', 'jum', 'sab', 'min')
names(hari) <- b
hari

sen sel rab kam jum sab min
  1   2   3   4   5   6   7

In [51]:
hari['sen']

sen
  1

In [52]:
hari[1]

sen
  1

## Operasi - operasi vektor

In [53]:
v1 <- c(1,2,3,4,5)
v2 <- c(6,7,8,9,10)

In [54]:
v1 + v2 # element-by-element

[1]  7  9 11 13 15

In [55]:
v1 - v2

[1] -5 -5 -5 -5 -5

In [56]:
v1 * v2

[1]  6 14 24 36 50

In [57]:
v2 / v2

[1] 1 1 1 1 1

In [58]:
sum(v1) # jumlah seluruh v1

[1] 15

In [59]:
mean(v1) # rata2 v1

[1] 3

In [60]:
sd(v1) # std v1

[1] 1.581139

In [61]:
max(v2)

[1] 10

In [62]:
min(v2)

[1] 6

In [63]:
prod(v1) # mengalikan seluruh elemen di vektor

[1] 120

In [64]:
prod(v2)

[1] 30240

In [65]:
b <- sum(v1)
print(b)

[1] 15

## Operator - operator perbandingan

In [66]:
4 > 5

[1] FALSE

In [67]:
7 > 4

[1] TRUE

In [68]:
10 >= 5

[1] TRUE

In [69]:
7 <= 5

[1] FALSE

In [70]:
8 == 8

[1] TRUE

In [71]:
7 != 15

[1] TRUE

In [72]:
7 != 7

[1] FALSE

In [73]:
# Operator perbandingan pada vektor
v <- c(1,2,3,4,5)
v < 2

[1]  TRUE FALSE FALSE FALSE FALSE

In [74]:
v == 3

[1] FALSE FALSE  TRUE FALSE FALSE

In [75]:
v2 <- c(10,20,30,40,50)
v2

[1] 10 20 30 40 50

In [76]:
v < v2

[1] TRUE TRUE TRUE TRUE TRUE

## Pengindeksan dan pemotongan vektor

In [77]:
v1 <- c(10,20,30,40,50)
v2 <- c('a', 'b', 'c', 'd', 'e')

In [78]:
v1[2] # pengindeksan dimulai dari 1

[1] 20

In [79]:
v1[5]

[1] 50

In [80]:
v2[c(3,4,5)]

[1] "c" "d" "e"

In [81]:
v3 <- c(1,2,3,4,5,6,7,8,9,10)
v3[7:10]

[1]  7  8  9 10

In [82]:
v3[3:5]

[1] 3 4 5

In [83]:
b <- c(1,2,3,4,5,6)
names(b) <- c('I', 'G', 'D', 'O', 'R', 'E')
b

I G D O R E
1 2 3 4 5 6

In [84]:
b[2]

G
2

In [85]:
b['G']

G
2

In [86]:
b[c(2,3)]

G D
2 3

In [87]:
b[c('G', 'D')]

G D
2 3

In [88]:
# Operator perbandingan
b

I G D O R E
1 2 3 4 5 6

In [89]:
b[b > 3]

O R E
4 5 6

In [90]:
e <-  b > 3

In [91]:
b[e]

O R E
4 5 6