# Konsep - konsep inti pemrograman

## Operator - operator logika

### `&` (AND)

In [1]:
b <- 15
b

[1] 15

In [2]:
b < 20

[1] TRUE

In [3]:
b > 10

[1] TRUE

In [4]:
b > 10 & b < 20 # TRUE & TRUE = TRUE

[1] TRUE

In [5]:
b > 30 & b < 20 # FALSE & TRUE = FALSE

[1] FALSE

In [6]:
(b > 5) & (b < 25) & (b == 15) # TRUE & TRUE & TRUE = TRUE

[1] TRUE

In [7]:
(b < 5) & (b < 25) & (b == 15) # FALSE & TRUE & TRUE = FALSE

[1] FALSE

### `|` (OR)

In [8]:
(b==10) | (b < 25) # FALSE | TRUE = TRUE

[1] TRUE

In [9]:
(b > 10) | (b < 10)

[1] TRUE

In [10]:
(b > 10) | (b < 10) | (b == 12)

[1] TRUE

In [11]:
TRUE | FALSE

[1] TRUE

In [12]:
FALSE | FALSE

[1] FALSE

### `!` (NOT)

In [13]:
(b == 10) | (b < 25)

[1] TRUE

In [14]:
!((b == 10) | (b < 25))

[1] FALSE

In [15]:
!T

[1] FALSE

In [16]:
!(b > 10)

[1] FALSE

### Penerapan operator - operator logika pada data frame

In [17]:
# Kita juga dapat menggunakan operator - operator logika pada data frame
df <- mtcars

In [18]:
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [19]:
df[df$mpg > 20,'mpg']

 [1] 21.0 21.0 22.8 21.4 24.4 22.8 32.4 30.4 33.9 21.5 27.3 26.0 30.4 21.4

In [20]:
subset(df, mpg > 20)

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [21]:
df[(df$mpg > 20) & (df$cyl > 4),]

               mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1

In [22]:
df[(df$mpg > 20) | (df$cyl > 4),]

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

## Pernyataan `if`, `else`, dan `else if`

In [23]:
if (5 > 3){
    print('Bener, Bro!')
}

[1] "Bener, Bro!"

In [24]:
if (5 < 3){
    print('Bener, Bro!')
}

# tidak ada output karena kondisi FALSE

In [25]:
if (5 < 3){
    print('Bener, Bro!')
}else{
    print('Salah, Bro!')
}

[1] "Salah, Bro!"

In [26]:
a <- 10
b <- 20

if (a > b){
    print('a lebih besar dari b.')
}else{
    print('a lebih kecil dari b.')
}

[1] "a lebih kecil dari b."

In [27]:
minuman <- 'Coca Cola'

if (minuman == 'Kopi'){
    print('Ngopi, Bro!')
}else if (minuman == 'Coca Cola'){
    print('Mantap!')
}else if (minuman == 'air putih'){
    print('Bagus, Bro buat kesehatan.')
}else{
    print('Terserah mau minum apa, Bro yang penting halal.')
}

[1] "Mantap!"

## Pengulangan `while`

In [28]:
b <- 0
while (b < 10){
    print(b)
    b = b + 1
}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9

In [29]:
b <- 0
while (b < 10){
    print(paste0('b sama dengan ',b))
    b = b + 1
}

[1] "b sama dengan 0"
[1] "b sama dengan 1"
[1] "b sama dengan 2"
[1] "b sama dengan 3"
[1] "b sama dengan 4"
[1] "b sama dengan 5"
[1] "b sama dengan 6"
[1] "b sama dengan 7"
[1] "b sama dengan 8"
[1] "b sama dengan 9"

In [30]:
b <- 0
while (b < 10){
    print(paste0('b sama dengan ',b))
    b = b + 1
    if (b == 10){
        print('b sama dengan 10. Pengulangan selesai.')
    }
}

[1] "b sama dengan 0"
[1] "b sama dengan 1"
[1] "b sama dengan 2"
[1] "b sama dengan 3"
[1] "b sama dengan 4"
[1] "b sama dengan 5"
[1] "b sama dengan 6"
[1] "b sama dengan 7"
[1] "b sama dengan 8"
[1] "b sama dengan 9"
[1] "b sama dengan 10. Pengulangan selesai."

In [31]:
b <- 0
while (b < 10){
    print(paste0('b sama dengan ',b))
    b = b + 1
    if (b == 10){
        print('b sama dengan 10. Pengulangan selesai.')
        print('Yuk Belajar pemrograman R!')
    }
}

[1] "b sama dengan 0"
[1] "b sama dengan 1"
[1] "b sama dengan 2"
[1] "b sama dengan 3"
[1] "b sama dengan 4"
[1] "b sama dengan 5"
[1] "b sama dengan 6"
[1] "b sama dengan 7"
[1] "b sama dengan 8"
[1] "b sama dengan 9"
[1] "b sama dengan 10. Pengulangan selesai."
[1] "Yuk Belajar pemrograman R!"

In [32]:
# penggunaan break() untuk mengakhiri pengulangan
b <- 0
while (b < 10){
    print(paste0('b sama dengan ',b))
    b = b + 1
    if (b == 10){
        print('b sama dengan 10. Pengulangan selesai.')
        break()
        print('Yuk Belajar pemrograman R!')
    }
}

[1] "b sama dengan 0"
[1] "b sama dengan 1"
[1] "b sama dengan 2"
[1] "b sama dengan 3"
[1] "b sama dengan 4"
[1] "b sama dengan 5"
[1] "b sama dengan 6"
[1] "b sama dengan 7"
[1] "b sama dengan 8"
[1] "b sama dengan 9"
[1] "b sama dengan 10. Pengulangan selesai."

In [33]:
b <- 0
while (b < 10){
    print(paste0('b sama dengan ',b))
    b = b + 1
    if (b == 5){
        print('b sama dengan 5. Pengulangan selesai.')
        break()
        print('Yuk Belajar pemrograman R!')
    }
}

[1] "b sama dengan 0"
[1] "b sama dengan 1"
[1] "b sama dengan 2"
[1] "b sama dengan 3"
[1] "b sama dengan 4"
[1] "b sama dengan 5. Pengulangan selesai."

## Pengulangan `for`

In [34]:
v <- c(1,2,3,4,5)

In [35]:
v

[1] 1 2 3 4 5

In [36]:
for (i in v){
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [37]:
for (i in v){
    print('Halo')
}

[1] "Halo"
[1] "Halo"
[1] "Halo"
[1] "Halo"
[1] "Halo"

In [38]:
buah2an <- c('Apel', 'Jeruk', 'Pisang', 'Mangga')

for (buah in buah2an){
    print(buah)
}

[1] "Apel"
[1] "Jeruk"
[1] "Pisang"
[1] "Mangga"

In [39]:
# Pengulangan for pada list
c1 <- c(10,20,30,40,50)
c2 <- c('A', 'B', 'C', 'D', 'E')
df <- data.frame(c1,c2)
df

  c1 c2
1 10 A
2 20 B
3 30 C
4 40 D
5 50 E

In [40]:
v

[1] 1 2 3 4 5

In [41]:
l <- list(v,df)
l

[[1]]
[1] 1 2 3 4 5

[[2]]
  c1 c2
1 10  A
2 20  B
3 30  C
4 40  D
5 50  E

In [42]:
for (i in l){
    print(i)
}

[1] 1 2 3 4 5
  c1 c2
1 10  A
2 20  B
3 30  C
4 40  D
5 50  E

In [43]:
# Pengunaan pengulangan for pada matriks
mat <- matrix(1:25, nrow=5, byrow=T)
mat

     [,1] [,2] [,3] [,4] [,5]
[1,]  1    2    3    4    5
[2,]  6    7    8    9   10
[3,] 11   12   13   14   15
[4,] 16   17   18   19   20
[5,] 21   22   23   24   25

In [44]:
for (num in mat){
    print(num)
}

[1] 1
[1] 6
[1] 11
[1] 16
[1] 21
[1] 2
[1] 7
[1] 12
[1] 17
[1] 22
[1] 3
[1] 8
[1] 13
[1] 18
[1] 23
[1] 4
[1] 9
[1] 14
[1] 19
[1] 24
[1] 5
[1] 10
[1] 15
[1] 20
[1] 25

In [45]:
# Pengulangan for bersarang
for (i in 1:5){
    print(i^2)
}

[1] 1
[1] 4
[1] 9
[1] 16
[1] 25

In [46]:
for (i in 1:5){
    for (j in 1:2){
        print(i*j)
    }
}

[1] 1
[1] 2
[1] 2
[1] 4
[1] 3
[1] 6
[1] 4
[1] 8
[1] 5
[1] 10


Proses kerjanya:
1. $1 \times 1$
2. $1 \times 2$
3. $2 \times 1$
4. $2 \times 2$
5. $3 \times 1$
6. $3 \times 2$, dst...

## Fungsi

In [47]:
# sintaks
nama_fungsi <- function(arg_1,arg_2, arg_3 = 10){
    # Kode yang hendak dieksekusi
    hasil <- arg_1 + arg_2
    return(hasil)
}

In [48]:
salam <- function(){
    print('Halo!')
}

In [49]:
salam()

[1] "Halo!"

In [50]:
salam <- function(nama){
    print(paste('Halo', nama, '!'))
}

In [51]:
salam('Sandy')

[1] "Halo Sandy !"

In [52]:
salam() # error karena tidak ada nama default

ERROR: Error in paste("Halo", nama, "!"): argument "nama" is missing, with no default

In [53]:
salam <- function(nama = 'Priska'){
    print(paste('Halo', nama, '!'))
}

In [54]:
salam()

[1] "Halo Priska !"

In [55]:
salam('Sandy')

[1] "Halo Sandy !"

In [56]:
penjumlahan <- function(b1,b2){
    print(b1 + b2)
}

In [57]:
penjumlahan(10,20)

[1] 30

In [58]:
# Harusnya pakai return 
penjumlahan <- function(b1,b2){
    return(b1 + b2)
}

In [59]:
x <- penjumlahan(10,20) # dapat disimpan di variabel
x

[1] 30

In [60]:
# Jangkauan variabel
kuadrat <- function(x){
    hasil <- x^2
    return(hasil)
}

In [61]:
out <- kuadrat(5)
out

[1] 25

In [62]:
hasil # ga ada karena bersifat lokal

ERROR: Error in eval(expr, envir, enclos): object 'hasil' not found

In [63]:
var <- 'Variabel global'
internet <- 'Jaringan global'

jaringan <- function(internet){
    print(var)
    internet <- 'Jaringan lokal'
    print(internet)
}

In [64]:
jaringan()
# redefinisi variabel lokal internet

[1] "Variabel global"
[1] "Jaringan lokal"

In [65]:
print(internet) # di luar fungsi berlaku variabel global

[1] "Jaringan global"