# Konsep - konsep pemrograman lanjut

## Fitur - fitur *built-in*

### `seq()`: Mendefinisikan sikuen

In [1]:
seq(0,10, by=2)

[1]  0  2  4  6  8 10

In [2]:
seq(0,100, by = 10)

 [1]   0  10  20  30  40  50  60  70  80  90 100

In [3]:
seq(0,30, by = 2)

 [1]  0  2  4  6  8 10 12 14 16 18 20 22 24 26 28 30

### `sort()` : Mengurutkan vektor

In [4]:
v <- c(2,7,1,49,54,32)
v

[1]  2  7  1 49 54 32

In [5]:
sort(v) # dari kecil ke besar

[1]  1  2  7 32 49 54

In [6]:
sort(v, decreasing = T) # dari besar ke kecil

[1] 54 49 32  7  2  1

In [7]:
nama <- c('s', 'a', 'n', 'd', 'y')
nama

[1] "s" "a" "n" "d" "y"

In [8]:
sort(nama)

[1] "a" "d" "n" "s" "y"

In [9]:
nama <- c('s', 'a', 'n', 'd', 'Y')
sort(nama)

[1] "a" "d" "n" "s" "Y"

In [10]:
nama <- c('s', 'a', 'n', 'd', 'Y','A')
sort(nama)

[1] "a" "A" "d" "n" "s" "Y"

### `rev()`: Membalikan elemen di dalam suatu objek

In [11]:
b <- seq(1,10)
b

 [1]  1  2  3  4  5  6  7  8  9 10

In [12]:
rev(b)

 [1] 10  9  8  7  6  5  4  3  2  1

In [13]:
d <- c('a','b','e','d')
d

[1] "a" "b" "e" "d"

In [14]:
rev(d)

[1] "d" "e" "b" "a"

### `str()`: Menunjukkan struktur dari suatu objek

In [15]:
str(b)

 int [1:10] 1 2 3 4 5 6 7 8 9 10

In [16]:
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [17]:
summary(mtcars)

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb
 Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :5.000   Max.   :8.000

### `append()`: Menggabungkan objek

In [18]:
v1 <- seq(1,5)
v2 <- seq(10,30, by=10)

In [19]:
append(v1,v2)

[1]  1  2  3  4  5 10 20 30

### Memeriksa dan mengonversi tipe data pada objek - objek R

In [20]:
v1

[1] 1 2 3 4 5

In [21]:
is.vector(v1)

[1] TRUE

In [22]:
is.data.frame(v1)

[1] FALSE

In [23]:
is.data.frame(mtcars)

[1] TRUE

In [24]:
as.list(v1)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] 4

[[5]]
[1] 5

In [25]:
as.matrix(v1)

     [,1]
[1,] 1
[2,] 2
[3,] 3
[4,] 4
[5,] 5

## Fungsi - fungsi `apply`

In [26]:
v <- seq(10,50,by=10)
v

[1] 10 20 30 40 50

In [27]:
sample(v,2) # mengambil dua buah sampel acak dari vektor

[1] 30 20

In [28]:
sample(1:100,5)

[1]  98  17  78 100  40

In [29]:
v <- 1:5
v

[1] 1 2 3 4 5

In [30]:
tambah_acak <- function(x){
    acak <- sample(1:100,1)
    return(x + acak)
}

In [31]:
tambah_acak(10)

[1] 63

In [32]:
hasil <- tambah_acak(20)
hasil

[1] 91

### `lapply()`: dalam bentuk list

In [33]:
lapply(v, tambah_acak)
# outputnya dalam bentuk list

[[1]]
[1] 80

[[2]]
[1] 95

[[3]]
[1] 36

[[4]]
[1] 102

[[5]]
[1] 8

## `sapply()`: dalam bentuk vektor

In [34]:
sapply(v,tambah_acak)

[1] 52  8 84 22  8

In [35]:
v1 <- seq(5,25, by=5)
kuadrat <- function(bil){
    return(bil^2)
}

In [36]:
kuadrat(5)

[1] 25

In [37]:
lapply(v, kuadrat)

[[1]]
[1] 1

[[2]]
[1] 4

[[3]]
[1] 9

[[4]]
[1] 16

[[5]]
[1] 25

In [38]:
sapply(v, kuadrat)

[1]  1  4  9 16 25

### Fungsi anonim

In [39]:
v

[1] 1 2 3 4 5

In [40]:
kuadrat <- function(bil){
    return(bil^2)
}

In [41]:
sapply(v, function(bil){bil^2}) # fungsi anonim

[1]  1  4  9 16 25

### Fungsi `apply` dengan banyak *input*

In [42]:
v

[1] 1 2 3 4 5

In [43]:
tambah_dua_bil <- function(b1,b2){
    return(b1+b2)
}

In [44]:
tambah_dua_bil(20,30)

[1] 50

In [45]:
sapply(v, tambah_dua_bil) # error

ERROR: Error in FUN(X[[i]], ...): argument "b2" is missing, with no default

In [46]:
sapply(v, tambah_dua_bil, b2 = 10)

[1] 11 12 13 14 15

## Ekspresi regular : RegEx

In [47]:
txt <- "Halo semuanya! Selamat Pagi! Cuaca lagi bagus, nih buat touring."

In [48]:
txt

[1] "Halo semuanya! Selamat Pagi! Cuaca lagi bagus, nih buat touring."

In [49]:
grepl("Halo",txt) # kata "Halo" ada di txt

[1] TRUE

In [50]:
grepl("Malam", txt)

[1] FALSE

In [51]:
grepl("halo", txt) # Sifatnya case-sensitive

[1] FALSE

In [52]:
v <- c('a','d','k', 'l','t','k')
grepl('k',v)

[1] FALSE FALSE  TRUE FALSE FALSE  TRUE

In [53]:
grep('k',v) # outputnya indeks

[1] 3 6

In [54]:
grep('a',v)

[1] 1

## Fungsi - fungsi matematika

### `abs()`: menghitung nilai absolut

In [55]:
abs(-2)

[1] 2

In [56]:
v <- c(-3,-5,7,10)
abs(v)

[1]  3  5  7 10

### `sum()`: menghitung penjumlahan seluruh elemen

In [57]:
sum(2,4,6)

[1] 12

In [58]:
v <- c(2,3,4,5)
sum(v)

[1] 14

### `mean()`: menghitung rata - rata aritmatika

In [59]:
mean(v)

[1] 3.5

In [63]:
mean(c(3,4,5))

[1] 4

### `round()`: membulatkan nilai

In [64]:
round(2.777645)

[1] 3

In [65]:
round(2.777645, digits=2)

[1] 2.78

In [66]:
round(2.777645, 4)

[1] 2.7776

## *Dates* dan *Timestamps*

In [67]:
Sys.Date() # waktu saat ini

[1] "2020-07-01"

In [68]:
d <- Sys.Date()
d

[1] "2020-07-01"

In [69]:
class(d)

[1] "Date"

In [70]:
d <- '1993-03-13'
d

[1] "1993-03-13"

In [71]:
class(d)

[1] "character"

In [72]:
# dikonversi menjadi date
b.day <- as.Date(d)
b.day

[1] "1993-03-13"

In [73]:
class(b.day)

[1] "Date"

In [74]:
as.Date('Mar-13-93') # format tidak sesuai

ERROR: Error in charToDate(x): character string is not in a standard unambiguous format

In [75]:
as.Date('Mar-13-93', format = '%b-%d-%y')

[1] "1993-03-13"

* `%d`: hari (desimal)
* `%m`: bulan (desimal)
* `%b`: bulan (singkatan)
* `%B`: bulan (tidak disingkat)
* `%y`: tahun (2 digit)
* `%Y`: tahun (4 digit)

In [76]:
as.Date('March,01,2009', format= "%B, %d, %Y")

[1] "2009-03-01"

In [77]:
# POSIXct

In [78]:
as.POSIXct('11:03:05', format='%H:%M:%S')

[1] "2020-07-01 11:03:05 WIB"

In [79]:
strptime('11:03:05', format = '%H:%M:%S') # lebih banyak dipakai di pemrograman R

[1] "2020-07-01 11:03:05 WIB"